@import url("./fonts.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Coolvetica";
}

header {
  background: url("images/banner.jpg");
  height: 100vh;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  filter: sepia(0.3);
}

header h1,
header h2 {
  color: blanchedalmond;
  text-shadow: 0px 0px 10px #333333;
}

/* Attractions Section */
section.attractions {
  background-color: antiquewhite;
  display: flex;
  justify-content: space-evenly;
}

.attraction-box {
  padding: 100px 0;
  text-align: center;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.attraction-img {
  width: 50%;
}

.attraction-heading {
  margin: 20px 0 10px;
  font-size: 20px;
}

/* Guide Section */

/* Footer */
footer {
  text-align: center;
  background-color: #ee4b2b;
  padding: 10px 0;
}
