@import url("./fonts.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Coolvetica";
  font-size: large;
}

header {
  background: url("images/banner.jpg");
  height: 100vh;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  filter: sepia(0.3);
}

header h1,
header h2 {
  color: blanchedalmond;
  text-shadow: 0px 0px 10px #333333;
}

/* Attractions Section */
.attractions {
  background-color: antiquewhite;
  display: flex;
  justify-content: space-evenly;
  padding: 50px 0;
}

.attraction-box {
  padding: 10px 0;
  text-align: center;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.attraction-img {
  width: 50%;
  border-radius: 10px;
}

.attraction-heading {
  margin: 20px 0 10px;
  font-size: 20px;
}

@media screen and (max-width: 420px) {
  .attractions {
    flex-direction: column;
  }

  .attraction-box {
    width: 80%;
    padding: 10px;
    margin: 10px auto;
  }
}

/* Guide Section */
.guide-box {
  max-width: 400px;
  background: #ee4c2b7a;
  margin: 100px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  border-bottom: 5px solid #ee4c2bb3;
}

.guide-avatar {
  width: 100px;
  border-radius: 100%;
}

.guide-heading {
  margin-bottom: 10px;
}

.guide-text {
  margin-bottom: 8px;
}

.guide-name {
  font-family: "Coolvetica Compressed";
}
/* Footer */
footer {
  text-align: center;
  background-color: #ee4b2b;
  padding: 10px 0;
}

/* 🎄 */
